SECRET_KEY=secretkey
NEVERCACHE_KEY=nevercachekey
ALLOWED_HOSTS=127.0.0.1
DATABASE_NAME=mezzanine
DATABASE_USER=mezzanine
DATABASE_PASSWORD=databasepassword
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
MEMCACHED_LOCATION=127.0.0.1:11211
TWITTER_ACCESS_TOKEN_KEY=token
TWITTER_CONSUMER_KEY=key
TWITTER_CONSUMER_SECRET=secret
GUNICORN_PORT=8000
